blueprints/02. Visita Modificada.blueprint.json
{
    "name": "02. Visita Modificada",
    "flow": [
        {
            "id": 1,
            "module": "acuity-scheduling:watchAppointments",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 3644381
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Visita Modificada"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Appointment webhook - Modificada"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:acuity-scheduling",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "acuity-scheduling:getAppointment",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 12525063
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.action}}",
                            "b": "changed",
                            "o": "text:contain"
                        },
                        {
                            "a": "{{1.action}}",
                            "b": "canceled",
                            "o": "text:notcontain"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "id": {
                            "mode": "edit"
                        },
                        "pastFormAnswers": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "acuity-scheduling"
                            },
                            "label": "My Acuity Scheduling connection (sistemas@tutrastero.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:acuity-scheduling",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Appointment ID",
                        "required": true
                    },
                    {
                        "name": "pastFormAnswers",
                        "type": "boolean",
                        "label": "Past Form Answers"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{7.canceled}}",
                            "b": "false",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "fecha_iso",
                "scope": "roundtrip",
                "value": "{{formatDate(addHours(7.datetime; -1); \"YYYY-MM-DDTHH:mm:ssZ\"; \"Europe/Madrid\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "fecha iso"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "fecha_iso",
                        "type": "any",
                        "label": "fecha_iso"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "duration": "240"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "bitrix24:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 12025279
            },
            "mapper": {
                "url": "crm.item.list",
                "body": "{\r\n  \"entityTypeId\": 182,\r\n  \"filter\": {\r\n    \"=ufCrm_31_1745787119410\": \"{{7.id}}\"\r\n  }\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Busca visita en Bitrix24"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "bitrix24"
                            },
                            "label": "My Bitrix24 connection (sistemas@tutrastero.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:bitrix24",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.body.total}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "visita_ant",
                        "value": "{{formatDate(2.body.result.items[].ufCrm_1590739351; \" DD.MM.YYYY HH:mm \"; \" UTC \")}}"
                    },
                    {
                        "name": "visita_nueva",
                        "value": "{{formatDate(6.fecha_iso; \" DD.MM.YYYY HH:mm \"; \" UTC \")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "visita_ant",
                        "type": "any",
                        "label": "visita_ant"
                    },
                    {
                        "name": "visita_nueva",
                        "type": "any",
                        "label": "visita_nueva"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "bitrix24:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 12025279
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{8.visita_ant}}",
                            "b": "{{8.visita_nueva}}",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{2.body.result.items[].title}}",
                            "b": "PRUEBA_MAKE",
                            "o": "text:notcontain"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "crm.item.update",
                "body": "{\r\n  \"entityTypeId\": 182,\r\n  \"id\": \"{{2.body.result.items[].id}}\",\r\n  \"fields\": {\r\n    \"stageId\": \"DT182_55:NEW\",\n    \"title\":\"Actualizada: Visita: {{7.firstName}} {{7.lastName}} - {{7.type}} - {{7.date}} {{7.time}}\",\n    \"ufCrm_1590739351\":\"{{6.fecha_iso}}\",\n    \"ufCrm31_1664208311266\":\"{{6.fecha_iso}}\"\n  }\r\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Visita Modificada"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "bitrix24"
                            },
                            "label": "My Bitrix24 connection (sistemas@tutrastero.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:bitrix24",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}